@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

:export {
  primary: $primary;
  secondary: $secondary;
  success: $success;
  info: $info;
  warning: $warning;
  danger: $danger;
  light: $light;
  dark: $dark;
}
